*{
background-color: cadetblue;
background-size: cover;
}

.cell{
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

#gameContainer{
  font-family: "Permanent Market", cursive;
  text-align: center;
}

#cellContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

#restartBtn {
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  padding: 8px 8px;
  border: 2px solid;
  border-radius: 8px;
  background-color: #f8f8f8;
  cursor: pointer;
}

